<template>
    <div>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="대시보드" name=""></el-tab-pane>
            <el-tab-pane label="홈페이지" name=""></el-tab-pane>
            <el-tab-pane label="회원관리" name="first">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="1">
                                <template slot="title">
                                    <i class="el-icon-user"></i>
                                    <span>회원관리</span>
                                </template>
                                <el-menu-item index="1-1">회원 상태 변경</el-menu-item>
                                <el-menu-item index="1-2">회원 등급 변경</el-menu-item>
                                <el-menu-item index="1-3">회원 정보 조회</el-menu-item>
                                <el-menu-item index="1-4">회원간 신고 관리</el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="콘텐츠" name="second">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-edit-outline"></i>
                                    <span>콘텐츠</span>
                                </template>
                                <el-submenu index="2-1">
                                    <template slot="title">게시판 설정 관리</template>
                                    <el-menu-item index="2-1-1">게시글 카테고리 변경</el-menu-item>
                                    <el-menu-item index="2-1-2">게시글 삭제</el-menu-item>
                                    <el-menu-item index="2-1-2">댓글 규제</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="관리자 활동" name="third">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="3">
                                <template slot="title">
                                    <i class="el-icon-s-custom"></i>
                                    <span>관리자 활동</span>
                                </template>
                                <el-submenu index="3-1">
                                    <template slot="title">금칙어 설정</template>
                                    <el-menu-item index="3-1-1">금칙어 추가</el-menu-item>
                                    <el-menu-item index="3-1-2">금칙어 조회</el-menu-item>
                                    <el-menu-item index="3-1-3">금칙어 삭제</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="1:1 상담" name="fourth">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="4">
                                <template slot="title">
                                    <i class="el-icon-chat-line-square"></i>
                                    <span>1:1 상담</span>
                                </template>
                                <el-menu-item index="4-1">
                                    <template slot="title">1:1 답변 등록</template>
                                </el-menu-item>
                                <el-menu-item index="4-2">
                                    <template slot="title">1:1 답변 수정</template>
                                </el-menu-item>
                                <el-menu-item index="4-3">
                                    <template slot="title">1:1 문의글 삭제</template>
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="홈페이지 설정" name="fifth">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="5">
                                <template slot="title">
                                    <i class="el-icon-s-home"></i>
                                    <span>홈페이지 설정</span>
                                </template>
                                <el-submenu index="5-1">
                                    <template slot="title">사이트 설정</template>
                                    <el-menu-item index="5-1-1">사이트 주소 설정</el-menu-item>
                                </el-submenu>
                                <el-submenu index="5-2">
                                    <template slot="title">어플 설정</template>
                                    <el-menu-item index="5-2-1">대표 이미지 설정</el-menu-item>
                                    <el-menu-item index="5-2-1">소개 설정</el-menu-item>
                                    <el-menu-item index="5-2-1">고객 센터 전화번호 설정</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="통계" name="sixth">
                <el-row class="el-row">
                    <el-col :sapn="3">
                        <el-menu>
                            <el-submenu index="6">
                                <template slot="title">
                                    <i class="el-icon-data-analysis"></i>
                                    <span>통계</span>
                                </template>
                                <el-menu-item index="6-1">
                                    <template slot="title">회원 현황 조회</template>
                                </el-menu-item>
                                <el-submenu index="6-2">
                                    <template slot="title">기간별 접속자 수 조회</template>
                                    <el-menu-item index="6-2-1">일별 접속자 수 조회</el-menu-item>
                                    <el-menu-item index="6-2-2">월별 접속자 수 조회</el-menu-item>
                                    <el-menu-item index="6-2-3">연도별 접속자 수 조회</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>

</script>
